.wide .page-section.background-img-slider > .container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/assets/img/retreat/outside-circle-dark.jpg") 50% 0 repeat !important;

    background-position: 50% 0 !important;
    background-size: cover !important;
}

.defaultCountdown {
	background-color: rgba(13, 29, 49, 0.3);
}

.sf-menu a {
	font-weight: bold;
}

.satir-topic {
  margin-top: 40px;
}

.quote {
  font-family: serif;
  font-size: 1.2em;
  color: #ed4a43;
}
